
@import url('https://fonts.googleapis.com/css2?family=Ramaraja&display=swap');
*{
    margin: 0;
    padding: 0;
    
}

.header{
    width: 100%;
    background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.9)), url(images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}

.login span{
    float: right;
    color: white;
    margin: 30px 65px 0px 5px;
    font-size:25px;
    font-family:'Ramaraja', serif;
}
#heading {
    color:white;
    text-align: center;
    font-size: 80px;
    font-family:'Ramaraja', serif;
    position: relative;
    top: 30%;
    left: 13%;
    display: block;
}
#heading p{
    font-size:35px;
    font-family: 'Times New Roman', Times, serif;
    margin-right:25% ;
}
.dropdown{
    height:60px;
    width:30%;
    margin-left: 33%;
    margin-top: 15%;
    position: absolute;
}

.btn{
    width:50%;
    border-radius:15px;
    height:50px;
}
.form-control{
    border-radius:15px;
    width:400px;
    height:50px;
}
.magnifying-glass{
    height:30px;
    width:30;
    position:absolute;
    top:20%;
    left:110%;
}
.card-img-top{
    width:100%;
    height:300px;
    border-radius:25px;
}
.col-6:hover{
    transform:scale(1.001);
    transition: ease 300ms;
}
.container h1{
    color:rgb(41, 94, 45);
}
.card:hover{
    transition: ease 300ms;
    transform:scale(1.1);
}
.rounded{
    width: 350px;
    height:450px;
}
#app h1{
    margin-top: 180px;
    color: black;
    text-align: start;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#app p{
    text-align: start;
    margin: 2% 0%;
}
.form-check-label{
    font-size:20px;  
    position: relative;
}   
.form-check-input{
    font-size:20px;  
    position: relative;
}

#danger{
    width: 150px;
}

@media  screen and (max-width:480px){
    html{
        text-align: center;
    }
    header {
        width: 100%;
        max-width: 480px;
    }
    #heading{
        top: 0;
        left:0;
        text-align: center;
    }
    .dropdown{
        margin: 10px auto;
        padding: 10px auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
    .dropdown *{
        margin:10px auto;
        padding:0;
    }
    .col-6 input{
        width: 100%;
        margin: 0;
        min-width: 200px;
    }
    .dropdown .row{
        padding:0;
        display: flex;
        width:100%;
        min-width: 240px;
        flex-direction: column;
        justify-content: center;
    }
    .dropdown .row button{
        width:100%;
        margin: 0 auto;
    }
    .magnifying-glass{
        /* visibility: hidden; */
        display: none;
    }
    #heading p{
        font-size:25px;
        font-family: 'Times New Roman', Times, serif;
        margin-right:10% ;
    }
    
}

@media  screen and (max-width:800px){
    html{
        text-align: center;
    }
    header {
        width: 100%;
        max-width: 800px;
    }
    #heading{
        top: 7%;
        left:25%;
        text-align: center;
    }
    .dropdown{
        margin: 10px auto;
        padding: 10px auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
    .dropdown *{
        margin:10px auto;
        padding:0;
    }
    .col-6 input{
        width: 100%;
        margin: 0;
        min-width: 200px;
    }
    .dropdown .row{
        padding:0;
        display: flex;
        width:100%;
        min-width: 240px;
        flex-direction: column;
        justify-content: center;
    }
    .dropdown .row button{
        width:100%;
        margin: 0 auto;
    }
    .magnifying-glass{
        /* visibility: hidden; */
        display: none;
    }
    #heading p{
        font-size:35px;
        font-family: 'Times New Roman', Times, serif;
        margin-right:5% ;
    }
    
}

@media  screen and (max-width:1200px){
    html{
        text-align: center;
    }
    header {
        width: 100%;
        max-width: 1200px;
    }
    #heading{
        top: 15%;
        left:25%;
        text-align: center;
    }
    .dropdown{
        margin: 10px auto;
        padding: 10px auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
    .dropdown *{
        margin:10px auto;
        padding:0;
    }
    .col-6 input{
        width:10%;
        min-width: 500px;
        margin-left: -60px;
    }
    .dropdown .row{
        margin-top: 30%;
        margin-left: 30%;
        padding:0;
        display: flex;
        width:60%;
        min-width: 240px;
        flex-direction: column;
        justify-content: center;
    }
    .dropdown .row button{
        width:100%;
        margin: 0 auto;
    }
    .magnifying-glass{
        /* visibility: hidden; */
        display: none;
    }
    #heading p{
        font-size:25px;
        font-family: 'Times New Roman', Times, serif;
        margin-right:30% ;
    }
    
}

@media  screen and (max-width:120){
    html{
        text-align: center;
    }
    header {
        width: 100%;
        max-width: 480px;
    }
    #heading{
        top: 0;
        left:0;
        text-align: center;
    }
    .dropdown{
        margin: 10px auto;
        padding: 10px auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
    .dropdown *{
        margin:10px auto;
        padding:0;
    }
    .col-6 input{
        width: 100%;
        margin: 0;
        min-width: 200px;
    }
    .dropdown .row{
        padding:0;
        display: flex;
        width:100%;
        min-width: 240px;
        flex-direction: column;
        justify-content: center;
    }
    .dropdown .row button{
        width:100%;
        margin: 0 auto;
    }
    .magnifying-glass{
        /* visibility: hidden; */
        display: none;
    }
    #heading p{
        font-size:25px;
        font-family: 'Times New Roman', Times, serif;
        margin-right:10% ;
    }
    
}